apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
  namespace: user-system
data:
  nginx.conf: |
    worker_processes auto;
    events { worker_connections 1024; }
    http {
        upstream app_backend {
            # آدرس کامل سرویس بک‌اند
            server app.user-system.svc.cluster.local:5000;
        }
        server {
            listen 8000;
            location / {
                proxy_pass http://app_backend/about;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
            }
        }
        server {
            listen 8001;
            location / {
                proxy_pass http://app_backend/home;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
            }
        }
        server {
            listen 8002;
            location / {
                proxy_pass http://app_backend/4012262209;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
            }
        }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-proxy
  namespace: user-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 8000
        - containerPort: 8001
        - containerPort: 8002
        volumeMounts:
        - name: nginx-config-vol
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-config-vol
        configMap:
          name: nginx-conf
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: user-system
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - name: port-8000
    port: 8000
    targetPort: 8000
    nodePort: 30000
  - name: port-8001
    port: 8001
    targetPort: 8001
    nodePort: 30001
  - name: port-8002
    port: 8002
    targetPort: 8002
    nodePort: 30002